.main {
  position: relative;
}

.main__description {
  display: flex;
  flex-direction: row;
  font-size: 20;
  max-height: 40px;
}

.main__items {
  display: grid;
  max-width: 1360px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 85px;
}

@media screen and (max-width: 1280px) {
  .main__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .main__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .main__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
